@import "./partials/mixins";

.App {
  .admin-bookings-page {
    margin: 1rem 0 3rem 0;
    .admin-logo {
      margin-left: 2rem;
      margin-bottom: 1.5rem;
    }

    .booking-cards-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(20%, 17rem));
      place-items: center;
      justify-content: center;
      gap: 2rem;
      width: 100%;
      @include mediaQuery(1400px) {
        justify-content: unset;
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        grid-gap: 6rem;
        margin-left: auto;
        margin-right: auto;
        padding: 2rem;
      }
    }
  }
}
