@use '../partials/variables';
@use '../styles/partials/mixins';

.contactWrapper {
  @include mediaQuery(1024px) {
    width: 100vw;
    height: 100vh;
    @include flex-col;
  }
  .contactLogo {
    margin: 1rem 2rem;
  }
  .infoSection {
    padding: 0rem 2rem;
    @include mediaQuery(1024px) {
      display: flex;
      height: 100%;
    }
    .mapWrapper {
      .map {
        width: 100%;
        height: 20rem;
        border: none;
        @include mediaQuery(1024px) {
          height: 100%;
        }
      }
    }

    .infoWrapper {
      padding: 2rem 0rem;
      @include mediaQuery(768px) {
        padding: unset;
        font-size: 1.3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .openingHours,
      .loaction {
        @include flex-col;
      }
      .openingHours {
        margin-bottom: 1rem;
        .openingHours-col {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .dots {
            width: 55%;
            height: 0;
            border: none;
            border-bottom: dotted;
            @include mediaQuery(375px) {
              width: 60%;
            }
            @include mediaQuery(768px) {
              width: 75%;
            }
            @include mediaQuery(1024px) {
              width: 78%;
            }
          }
        }
      }
      .loaction {
        .locationInfo {
          address {
            @include flex-col;
            a {
              text-decoration: none;
              color: black;
              padding-bottom: 0.5rem;
            }
            .address {
              margin-bottom: 1rem;
            }
          }
        }
      }
      .inforHeadersWrapper {
        display: flex;
        justify-content: flex-end;
        padding-bottom: 1rem;
      }
    }
    .mapWrapper,
    .infoWrapper {
      @include mediaQuery(1024px) {
        padding: 1rem;
        width: 50%;
        height: 50%;
      }
    }
  }
}
