@import './partials/variables';
.homeLink {
    text-decoration: none;

    .homeFab {
        position: fixed;
        right: 0;
        bottom: 1em;
        margin: 1em;
        color: $textColor;

        .homeButton {
            text-decoration: none;
        }
    }
}