@import "./styles/partials/mixins";
@import "./styles/partials/variables";

@import "styles/bookings-page";
@import "styles/landing-page";
@import "styles/menu-page";
@import "styles/bookings-card";
@import "styles/admin-bookings-page";
@import "styles/contact-page";
@import "styles/admin-edit-page";
@import "styles/home-page";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $backgroundColor;
  color: $textColor;
}

html {
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
